{% extends 'index.html' %} 
{% load static %}
{% block title %}Detalles del Libro{% endblock %}
{% block content %}
<section class="inner_page_section" style="padding-top: 680px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card" style="width: 18rem;">
                    {% if libro.imagen_url %}
                        <img src="{{ libro.imagen_url }}" class="card-img-top" alt="{{ libro.titulo }}">
                    {% else %}
                        <img src="{% static 'images/default_image.jpg' %}" class="card-img-top" alt="Imagen no disponible">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ libro.titulo }}</h5>
                        <p class="card-text"><strong>ISBN:</strong> {{ libro.isbn }}</p>
                        <p class="card-text"><strong>Fecha de Publicación:</strong> {{ libro.fecha_publicacion }}</p>
                        <p class="card-text"><strong>Precio:</strong> {{ libro.precio }}</p>
                        <p class="card-text"><strong>Stock Disponible:</strong> {{ libro.stock }}</p>
                        <p class="card-text"><strong>Autor:</strong> {{ libro.autor.nombre }} {{ libro.autor.apellido }}</p>
                        <p class="card-text"><strong>Editorial:</strong> {{ libro.editorial.nombre }}</p>
                        
                        {% if libro.stock > 0 %}
                            <!-- Formulario para agregar al carrito -->
                            <form method="POST" action="{% url 'agregar_al_carrito' libro.id %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-success">Agregar al Carrito</button>
                            </form>
                        {% else %}
                            <p class="text-danger">No hay stock disponible</p>
                        {% endif %}
                        
                        <a href="{% url 'buscar_libro' %}" class="btn btn-secondary">Volver a la Búsqueda</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    footer {
        margin-top: 400px; 
    }
</style>
{% endblock %}
