{% extends 'index.html' %}
{% load static %}

{% block title %}Editar Libro{% endblock %}

{% block content %}
<section class="inner_page_section" style="padding-top: 200px;">
    <div class="container">
        <h2>Editar Libro</h2>
        <form method="post">
            {% csrf_token %}
            {{ libro_form.as_p }}
            <button type="submit" class="btn btn-success">Guardar Cambios</button>
        </form>
        <br>
        <a href="{% url 'gestionar_libros' %}" class="btn btn-secondary">Volver</a>
    </div>
</section>
{% endblock %}
